/Coding
/Ideas.odt
/Importance of cotranscriptional RNA structure formation.pdf
/Initial_Presentation
/MotifDraw
/Rep
/Software_Project
/ViennaRNA
/rna.ps
/seq.txt
/test.seq
/test.svg
/tmp_out.png

#Ignore Test outputs
*.drf 
*_IR_out.txt